/*
html {
  background-color: #f0f0f0;
}

body {
  font-family: 'DejaVu Sans', Arial, Helvetica;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin: 0px auto; 
  padding: 20px 20px; 
  width: 850px;
}
*/

/*.tabular {
	border-radius: 10px;
	border: 1px solid black;
	overflow: auto;
}
*/

.filename {
	word-break: break-all;
}