<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>SYNC - KING</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="File sharing platform within a LAN Network">
	<meta name="author" content="Naresh Kumar">

	<meta property="og:title" content="File sharing platform within a LAN Network">
	<meta property="og:type" content="Web Application">
	<meta property="og:url" content="http://localhost:9002/">
	<meta property="og:description" content="File sharing platform within a LAN Network">
	<!--  <meta property="og:image" content="image.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
-->
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.css"
		th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/file-upload.css" th:href="@{/css/file-upload.css}">

</head>

<body>
	<div class="file-container">
		<div class="file-overlay"></div>
		<div class="file-wrapper">
			<input class="file-input" id="js-file-input" type="file" multiple="multiple" />
			<div class="file-content">
				<div class="file-infos">
					<p class="file-icon"><i class="fas fa-file-upload fa-7x"></i><span
							class="icon-shadow"></span><span>Click to browse<span class="has-drag"> or drop file
								here</span></span></p>
				</div>
				<p class="file-name" id="js-file-name">No file selected</p>
			</div>
		</div>
	</div>

	<script src="../static/js/bootstrap.bundle.js" th:href="@{/js/bootstrap.bundle.js}" />
	<script src="../static/js/file-upload.js" th:href="@{/js/file-upload.js}" />
</body>

</html>